body {
    background: linear-gradient(135deg, #EDE7F6, #D1C4E9); /* Gradiente de roxo claro a médio */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fonte geral */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    font-size: 1.1em;
    background-color: #673AB7 !important; /* Cor de fundo roxo mais profundo para a navbar */
}

    .navbar .navbar-brand,
    .navbar .nav-link {
        color: white !important; /* Cor branca para o texto da marca e links da navbar */
    }

        .navbar .nav-link:hover {
            background-color: rgba(255, 255, 255, 0.1); /* Efeito ao passar o mouse: um leve destaque */
        }

h1, h2 {
    color: #512DA8; /* Um roxo mais profundo para os cabeçalhos */
}

    h2.lead {
        font-weight: normal;
    }

.container {
    flex: 1;
}

.btn-primary {
    background-color: #6a1b9a !important;
    border-color: #6a1b9a !important;
}

    .btn-primary:hover,
    .btn-primary:focus {
        background-color: #8e24aa !important;
        border-color: #7b1fa2 !important;
    }

    .btn-primary:active,
    .btn-primary.active {
        background-color: #7b1fa2 !important;
        border-color: #6a1b9a !important;
    }

    .btn-primary:disabled {
        background-color: #6a1b9a !important;
        border-color: #6a1b9a !important;
        opacity: 0.75 !important;
    }

.disabled {
    pointer-events: none;
    opacity: 0.6;
}
