@model IEnumerable<LimisInsight.Models.User>

@{
    ViewData["Title"] = "Users Management";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4 mb-2">Team Users</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-2 mb-3">
            <button id="loadUsersBtn" class="btn btn-primary btn-lg w-100">Listar Dados Artia</button>
        </div>
        <div class="col-md-2 mb-3">
            <button id="cloneDataBtn" class="btn btn-primary btn-lg w-100">Clonar Dados</button>
        </div>
        <div class="col-md-2 mb-3">
            <button id="loadLocalDataBtn" class="btn btn-primary btn-lg w-100">Dados Locais</button>
        </div>
    </div>

    <div id="loadingDiv" style="display:none;">
        <i class="fas fa-cog fa-spin"></i> Carregando...
    </div>

    <div id="usersTableDiv" class="mt-4" style="display: none;">
        <table id="usersDataTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>UserId</th>
                    <th>UserName</th>
                    <th>TeamId</th>
                    <th>TeamName</th>
                </tr>
            </thead>
            <tbody>
                <!-- Os dados dos usuários serão inseridos aqui pela chamada AJAX -->
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        function updateTableWithData(data) {
            if ($.fn.dataTable.isDataTable('#usersDataTable')) {
                $('#usersDataTable').DataTable().destroy();
            }
            $('#usersDataTable tbody').empty();

            $.each(data, function (i, user) {
                var row = '<tr>'
                    + '<td>' + user.userId + '</td>'
                    + '<td>' + user.userName + '</td>'
                    + '<td>' + user.teamId + '</td>'
                    + '<td>' + user.teamName + '</td>'
                    + '</tr>';
                $('#usersDataTable tbody').append(row);
            });
            initializeDataTable();
        }

        function initializeDataTable() {
            $('#usersDataTable').DataTable({
                columns: [
                    { data: 'userId' },
                    { data: 'userName' },
                    { data: 'teamId' },
                    { data: 'teamName' }
                ]
            });
            $("#usersTableDiv").show();
        }

        $("#loadUsersBtn").click(function () {
            $("#loadingDiv").show();

            $.ajax({
                url: "@Url.Action("GetUsers", "Users")",
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    updateTableWithData(data);
                },
                error: function (error) {
                    console.error("Erro ao buscar usuários:", error);
                },
                complete: function () {
                    $("#loadingDiv").hide();
                }
            });
        });

        $("#cloneDataBtn").click(function (event) {
            event.preventDefault();
            $("#loadingDiv").show();

            $.ajax({
                url: "@Url.Action("CloneData", "Users")",
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    $("#loadingDiv").hide();
                    if (response.success) {
                        alert(response.records + " dados clonados com sucesso!");
                    } else {
                        alert("Ocorreu um erro ao clonar os dados.");
                    }
                },
                error: function () {
                    $("#loadingDiv").hide();
                    alert("Erro ao clonar os dados.");
                }
            });
        });

        $("#loadLocalDataBtn").click(function () {
            $("#loadingDiv").show();

            $.ajax({
                url: "@Url.Action("DisplayLocalData", "Users")",
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    updateTableWithData(data);
                },
                error: function (error) {
                    console.error("Erro ao buscar dados locais:", error);
                },
                complete: function () {
                    $("#loadingDiv").hide();
                }
            });
        });
    </script>
}